version: '3'

services:

    db:
      container_name: postgres-db
      image: postgres
      restart: always
      environment:
        - POSTGRES_PASSWORD=postgres
        - POSTGRES_USER=postgres
        - POSTGRES_DB=etna-kub
      volumes:
        - ./docker/postgres:/var/lib/postgresql/data
      networks:
        - app

      
    my-app:
      container_name: my-app
      build: 
        context: .
        dockerfile: ./Dockerfile
      image: my-app
      volumes: 
        - app:/app
      ports:
        - '4242:4242'
      depends_on:
        - db
      environment:
        #- DATABASE_URL=postgres://hefqxbvi:o5hme9Ksj-uO_xLGkEK6RMGTg-IcohZu@ella.db.elephantsql.com/hefqxbvi
        - DATABASE_URL=postgres://postgres:postgres@db/etna-kub
      networks:
        - app

volumes:
  postgres:
  app:

networks:
  app:

    
